{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/desktop-attractions.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eea4a3a7bd.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  <div id="main_container"> 
    <div id="atraccion-container">
      <h1 id="atraccion-name">{{atraccion.Name}}</h1>
      <p id="atraccion_desc">{{atraccion.Description}}</p>
      <div class="section">
        <div class="title">
          <i class="fa-solid fa-light fa-people-line icon"></i>
          <p class="section_title">Turnos</p>
        </div>
        <p class="section_content">{{atraccion.CurrentRoundTurn}}...{{last_turn}}</p>
      </div>
      <div class="section">
        <div class="title">
          <i class="fa-regular fa-clock icon"></i>
          <p class="section_title">Tiempo</p>
        </div>
        <p class="section_content">{{time}} min</p>
      </div>
      <div id="take-turn">
        {% block content %}
        {% endblock %}
      </div> 
        <!-- <div id="turnos">
            
            <div id="info-container">
              <i class="fa-solid fa-light fa-people-line icon"></i>
              <h2 id="title">Proximos Turnos</h2>
            </div>
            <div id="queue-container">
              {% for i in turns %}
                <div class="grid-item">{{i}}</div>
              {% endfor %}
            </div>
        </div>
-->
    </div>
    <div id="image_container">
      <img id="attraction_image" src='/media/{{atraccion.ImagePath}}'>
    </div>
  </div>
</body>
</html>