{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eea4a3a7bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/desktop-rewards.css' %}" type="text/css" />
    <title>Document</title>
</head>
<body>
  <nav id="nav">
    <p id="nav_title">RollerTempo</p>
    <img id="logo"src="{% static './images/logo.png' %}"/>
  </nav>
  <div id="container">
    {% for premio in premios %}
    <a href="{% url 'reward' nombre=premio.ID %}" class="atraccion_link">
      <div class="premios-container">
        <img class="premios-image"src="/media/{{premio.ImagePath}}"/>
        <div class="premios-info">
          <h1 class="premios-title">{{premio.Name}}</h1>
          <div id="price_container">
            <i class="fa-sharp fa-solid fa-coins price_icon_2"></i>
            <h1 class="premios_title_2">{{premio.Price}}</h1>      
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
</body>
</html>