{% extends 'phone.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/pqr.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<main>
  <header>
    <h1 id="header-text"> PQR </h1>
  </header>
  <div>
    <h1 class="pqr-title">Quienes somos</h1>
    <p class="pqr-definition">Lorem ipsuasdm dolor sit amet consectetur adipisicing elit. Blanditiis at expedita quis repellat possimus placeat voluptatum, repellendus, veniam officia tempora aut harum. Quaerat deserunt necessitatibus quibusdam a impedit fuga enim.</p>
    <h1 class="pqr-title">Mision</h1>
    <p class="pqr-definition">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at expedita quis repellat possimus placeat voluptatum, repellendus, veniam officia tempora aut harum. Quaerat deserunt necessitatibus quibusdam a impedit fuga enim.</p>
    <h1 class="pqr-title">Vision</h1>
    <p class="pqr-definition">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at expedita quis repellat possimus placeat voluptatum, repellendus, veniam officia tempora aut harum. Quaerat deserunt necessitatibus quibusdam a impedit fuga enim.</p>
  </div>
</main>
{%endblock%}