{% extends 'phone.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/premio.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<main>
    <header>
        <a href="{% url 'premios' %}">
            <i class="fa-solid fa-arrow-left fa-xl header-back"></i>
        </a>
        <h1 id="header-text"> Premios </h1>
    </header>
    <div id="premio-container">
        <img id="premio-img" src="{% static 'images/premio_placeholder.jpg' %}"/>
        <h1 id="premio-title">{{premio.name}}</h1>
        <p id="premio-desc">{{premio.description}}</p>
        <div id="price">
          <i class="fa-sharp fa-solid fa-coins price_icon"></i>
          <p id="price_number"> {{premio.price}}</p>
        </div>
    </div>
  </main>
{%endblock%}