{% extends 'phone.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/usuarios.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<main>
  <header>
    <h1 id="header-text"> Usuarios </h1>
  </header>
  <form action="/buscar/" method="POST" id="user-form"> {% csrf_token %}
    <label htmlFor="user-input"> <p id="input-label">Ingrese su ID</p></label>
    <input id="user-input" type="number" name="id" required/>
    <input type="submit" onClick={handle} value="Consultar" id="user-submit">
  </form>
  {% if data %}
  <div id="user_info_container">
    <p class="info_tittle">Puntos adquiridos</p>
    <div class="user_info">
        <i class="fa-sharp fa-solid fa-coins price_icon_3"></i>
        <p id ="coins_user">{{data.Coins}}</p>
    </div>
    <div class="separator"></div>
    <p class="info_tittle">Fila Actual</p>
    <div id="image_container"> 
      <img class="atraccion_image"src="/media/{{attraction.ImagePath}}"/>
    </div>
    <div id="info-options">
      <p id="user_turn_info">{{attraction.Name}}: Turno {{data.Turn}}</p>
      <a href="{% url 'cancel_turn' nombre=data.Identification %}" id="cancel-turn"><p id="text-no-margin">Cancel Turn</p></a>
    </div>
    
  </div>
  {% endif %}
</main>
{%endblock%}