{% extends 'phone.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/atraccion.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
{% endblock %}
{% block content %}
<main>
    <header>
        <a href="{% url 'atracciones' %}">
            <i class="fa-solid fa-arrow-left fa-xl header-back"></i>
        </a>
        <h1 id="header-text"> Atraccion </h1>
    </header>
    <div id="atraccion-container">
        <img id="atraccion-image" src="{% static 'images/placeholder.jpg' %}"/>
        <h1 id="atraccion-title">{{atraccion.name}}</h1>
        <p id="atraccion-desc">{{atraccion.description}}</p>
        <h1 id="atraccion-title">ubicacion</h1>
        <div id="map_container">
            <div id="map">

            </div>
        </div>
        <h1 id="atraccion-title">Fila</h1>
        <div id="fila-container">
            <div class="fila-sub-container">
                <i class="fa-regular fa-clock icon"></i>
            <p class="icon-text">{{time}} min</p>
            </div>
            <div class="fila-sub-container">
                <i class="fa-solid fa-light fa-people-line icon"></i>
            <p class="icon-text">Turnos: {{atraccion.nextTurn}} - {{next_turn}}</p>
            </div>
        </div>
        <form id="user-turn" action="{% url 'pedir_turno' atraccion.name%}" method="post">{% csrf_token %}
            <input type="number" id="user_id" name="id" required/>
            <input type="submit" value="Pedir turno" id="user-turn-button"></input>
        </form>
    </div>
</main>

<script type="text/javascript">
    var atracc = {{ atraccion|safe}}
    var map = L.map('map', {
        maxZoom: 24,
        minZoom: 0.5,
        crs: L.CRS.Simple,
    }).setView([atracc['x'], atracc['y']], 1);

    map.setMaxBounds(new L.LatLngBounds([0,360], [360,0]));

    var imageUrl = "{% static 'images/map.jpg' %}"
    var placeholder = "{% static 'images/placeholder.jpg' %}"
    var imageBounds = [[360,0], [0,360]];
    L.imageOverlay(imageUrl, imageBounds).addTo(map);
    
    console.log(atracc);
    var marker = L.marker([atracc['x'], atracc['y']]).addTo(map);
    var customOptions =
        {
        'maxWidth': '100',
        'width': '50',
        'className' : 'marker_image'
        }
    
</script>
{%endblock%}