.map_container{
    width: 200px;
    height: 200px;
}

#image{
    border : 1px solid rgb(0, 0, 0);
   background-image: url(http://placekitten.com/800/600);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: grab;
    margin: auto;
}