.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 360px;
    height: 600px;
    background: white;
    overflow-y:auto;
}

nav{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    box-shadow: 0 -5px 5px -5px #33333327;
    display: flex;
    justify-content: center;
}

.nav-item{
    margin-top: 1px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}


.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-decoration: none;
    color:black; 
}

.nav-image{
    width: 40px;
    height: auto;
}

.nav-link:hover{
    color:#FF0303;
    filter: invert(12%) sepia(100%) saturate(6842%) hue-rotate(9deg) brightness(105%) contrast(114%);
}

header{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF0303;
    box-shadow:  0 6px 4px -4px rgba(0, 0, 0, 0.33);

}

h1, h2, h3{
    margin: 0px 0px 0px 0px;
}

#header-text{
    text-align: center;
    margin: auto;
    font-weight: 100;;
}

.header-back{
    justify-self: flex-start;
    color: white;
    position: relative;
    left: 20px;
}

#welcome_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#logo{
    width: 200px;
    height: auto;
}

#logo_title{
    color: red;
    font-weight: 100;
}

body{
    font-family: sans-serif;
  }

a{
    text-decoration: none;
    color: black;
}