#main-image{
    position: fixed;
    width: 100%;
    height: 100%;
}

#atraccion-container{
    background-image: url('../../public/placeholder2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#turnos{
    margin-top: 50px;
    width: 80%;
    height: 600px;
    background-color: hsla(227, 42%, 89%, 0.89);
    border-radius: 15px;
}

#atraccion-name{
    margin-left: 20px;
    font-size: 48px;
    font-weight: 10;
}

#take-turn{
    margin-top: 50px;
    width: 80%;
    height: 300px;
    background-color: hsla(227, 42%, 89%, 0.89);
    border-radius: 15px;
}

#info-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon{
    margin-right: 60px;
    font-size: 50px;
    color: #FF0303;
}

#title{
    font-size: 40px;
    color: #FF0303;;
}

#queue-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 25px;
}

.grid-item{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#take-turn{
    text-align: center;
    font-size: 35px;
}


#submit{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-size: 24px;
  }

#submit:hover{
    background-color: #FF0303;
    color: white;
}

#take-text{
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}